<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Comment</key>
		<string>All analog audio</string>
		<key>Detect</key>
		<true/>
		<key>Tree</key>
		<array>
			<string>AppleACPIPCI</string>
			<string>HDEF</string>
			<string>AppleHDAController</string>
			<string>IOHDACodecDevice</string>
		</array>
		<key>controllerNum</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Comment</key>
		<string>Skylake 9D70 Controller</string>
		<key>Detect</key>
		<true/>
		<key>Tree</key>
		<array>
			<string>AppleACPIPCI</string>
			<string>HDEF</string>
			<string>AppleHDA8086_9D70Controller</string>
			<string>IOHDACodecDevice</string>
		</array>
		<key>controllerNum</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Comment</key>
		<string>AMD Zen 1</string>
		<key>Detect</key>
		<true/>
		<key>Tree</key>
		<array>
			<string>AppleACPIPCI</string>
			<string>GP18</string>
			<string>IOPP</string>
			<string>HDEF</string>
			<string>AppleHDAController</string>
			<string>IOHDACodecDevice</string>
		</array>
		<key>controllerNum</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>Comment</key>
		<string>AMD Zen 2</string>
		<key>Detect</key>
		<true/>
		<key>Tree</key>
		<array>
			<string>AppleACPIPCI</string>
			<string>BR16</string>
			<string>IOPP</string>
			<string>HDEF</string>
			<string>AppleHDAController</string>
			<string>IOHDACodecDevice</string>
		</array>
		<key>controllerNum</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>Comment</key>
		<string>AMD Zen 3</string>
		<key>Detect</key>
		<true/>
		<key>Tree</key>
		<array>
			<string>AppleACPIPCI</string>
			<string>BR15</string>
			<string>IOPP</string>
			<string>HDEF</string>
			<string>AppleHDAController</string>
			<string>IOHDACodecDevice</string>
		</array>
		<key>controllerNum</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>Comment</key>
		<string>AMD Zen 4</string>
		<key>Detect</key>
		<true/>
		<key>Tree</key>
		<array>
			<string>AppleACPIPCI</string>
			<string>S08</string>
			<string>IOPP</string>
			<string>HDEF</string>
			<string>AppleHDAController</string>
			<string>IOHDACodecDevice</string>
		</array>
		<key>controllerNum</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>Comment</key>
		<string>AMD Zen 5</string>
		<key>Detect</key>
		<true/>
		<key>Tree</key>
		<array>
			<string>AppleACPIPCI</string>
			<string>GP17</string>
			<string>IOPP</string>
			<string>HDEF</string>
			<string>AppleHDAController</string>
			<string>IOHDACodecDevice</string>
		</array>
		<key>controllerNum</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
